body {
    background-color: #156645; 
    font-family: 'Figtree', sans-serif;
    color: white;
}
.card img {
    box-shadow: none;
    border: none;
    display: block;
    background-color: #156645;
}
.card, .card-placeholder {
    box-shadow: none;
border: none;
}
.action-button {
    color: white;
    border-color: white;
    background-color: #197C54;
    padding: 12px 18px;
    margin-right: 6px;
    margin-bottom: 10px;
}
.action-button:hover {
    background-color: white;
    color: #197C54;
    border-color: white;
}
.navbar-nav .nav-link {
    color: #115439 !important;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s;
}

a {
    color: white;
}

